$primary-color: #ffffff;
$secondary-color: #000000;
$third-color: #eeeeee;
$font-color: #2f4858;
$primary-shadow: 0 4px 8px #302e2e12;
$secondary-shadow: 0 6px 12px #302e2e24;

$primary-font: "Montserrat", sans-serif;
$primary-font-size: 1.6rem;
$font-weight: 800;
$border-radius: 50px;
$hover-effect: 0.2s linear;
$primary-padding: 20px;