.mainpage-wrapper {
    width: 100%;
    min-height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1597851936901-b234f1f6facd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    

    @include flex(column, center, center);
}

.mainpage-content {
    width: 100%;
    max-width: 1000px;
    height: 100%;
  //  background-color: pink;
    @include flex(column, center, flex-start);
    &__title {
        margin: 0;
        font-size: 4.6rem;
        line-height: 1.2;
        font-weight: 700;
        color: $primary-color;
    }
    &__text {
        margin-top: 8px;
        font-size: 1.8rem;
        color: $primary-color;
    }
}