.form {
  position: relative;
  margin: 20px 0;
  width: 100%;
  font-size: 1.5rem;
  &__input {
    margin-top: 5px;
    padding: 18px;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 4px;
    border: none;
    &:hover {
      box-shadow: 0 0 0 5px #ffffff1a;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 5px #ffffff33;
    }
  }
}
.list {
  position: absolute;
  width: 100%;
  margin-top: 5px;
  border-radius: 4px;
  background-color: $primary-color;
  &__item {
    padding: 5px 18px;
    color: $secondary-color;
    cursor: pointer;
    &:hover {
      background-color: $third-color;
    }
  }
}
